main{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: orange;
}
#header-img{
  height: 20px;
}
#nav-bar {
  display: flex;
  width: 35%;
  justify-content:space-around;
}

@media print {
  #video{
    display: none;
  }
}
